:root {
  --branco: #ffff;
  --gelo: #f1f1f1;
  --verde: #ccff00;
  --preto: #000000;
}

.txbarra-superior {
  margin-left: 33%;
}

.logo {
  color: var(--preto);
  font-size: 35px;
}

/* background */
.busca {
  background-color: var(--branco);
}

.titulos {
  color: var(--preto);
}
